<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name=".Gas24h_7Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gas24h_7App"
        tools:targetApi="31">
        <activity
            android:name=".ui.test.MainActivity"
            android:exported="false" >

        </activity>
        <activity
            android:name=".ui.review_of_me.ReviewOfMeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.all_review.AllReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.all_voucher.AllVoucherActivity"
            android:exported="false" />
        <activity
            android:name=".ui.buy_back.BuyBackActivity"
            android:exported="false" />
        <activity
            android:name=".ui.order_information.OrderInformationActivity"
            android:exported="false" />
        <activity
            android:name=".admin.order.shipping.ShippingActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".admin.order.pending_confirmation.PendingConfirmationActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ui.purchased_order.PurchasedOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pending_payment.PendingPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.choose_voucher.ChooseVoucherActivity"
            android:exported="false" />
        <activity
            android:name=".ui.order.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.add_review.AddReviewActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".admin.voucher.detail_product.VoucherDetailProductActivity"
            android:exported="false" />
        <activity
            android:name=".admin.voucher.all_product.VoucherAllProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detail_product.DetailProductActivity"
            android:exported="false" />
        <activity
            android:name=".admin.add_product.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.verify.VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD8_JLmNS8nIdjqXYJR4Gqi6IaPXum7Jbs" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>